<div class="padding">
    <div class="mb-4">
        <h3>ПРАВИЛА:</h3>
        <button class="btn-neu close-btn" mat-icon-button aria-label="close dialog" mat-dialog-close>
            X
          </button>
    </div>
    
    <p>
        Намери групи от четири думи, които имат нещо общо. Натисни "провери" и ще разбереш дали си бил прав.
    </p>
    
    <h4>Примери</h4>
    
    
    <ul> 
        <li>
            <b>МОРСКИ ___</b>: Дар, Дявол, Таралеж, Шах
        </li>
        <li>
            <b>ИНСТРУМЕНТИ</b>: Трион, Менгеме, Шпакла, Тесла
        </li>
    </ul>

    <p>
        Всеки пъзел има само едно решение! Внимавай за думи, които спадат към повече от една категория!
    </p>
</div>