<header class="header">
  <span>
    CONNECTIONS.BG
  </span>
  <span (click)="showRules()"><img class="info-icon"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png"
      alt="" srcset=""></span>
</header>



<ng-container *ngIf="livesLeft > 0"> <!-- GUESSED WORDS -->
  <div class="wrapper">
    <div *ngFor="let row of guessedWords" class="guessed-grid-container" [ngStyle]="{'background': row.color }">
      <div>
        <div>
          <h3 [ngStyle]="{'color': row.color === '#230C0F' ? 'white' : 'black' }">{{ row.categoryName }}</h3>
        </div>
        <div>
          <ng-container *ngFor="let word of row.words; let i = index">
            <span class="category-word" [ngStyle]="{'color': row.color === '#230C0F' ? 'white' : 'black' }">
              {{ word }}<ng-container *ngIf="i < 3">,</ng-container>
            </span>
          </ng-container>
        </div>
      </div>
      <span *ngIf="row.categoryInfo" (click)="showCategoryInfo(row)"><img class="info-results"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png"
        alt="" srcset=""></span>
    </div>

  </div>

  <div class="wrapper" *ngIf="!gameIsSolved"> <!-- GAME -->
    <div *ngFor="let row of randomizedWords | slice:0:4; let i = index" class="grid-container">
      <div *ngFor="let word of randomizedWords | slice:i*4:(i+1)*4; let j = index" class="grid-item m-1"
        (click)="selectWord(word)" [ngClass]="currentSelection.includes(word) ? 'selected-word' : '' ">
        <span class="text-align-center" [ngStyle]="{'font-size': (word?.length ?? 0) > 10 ? 'smaller' : '' }">
         <span class="spinner">
           <mat-spinner [diameter]="15" class="spinner" *ngIf="!word"></mat-spinner>
         </span> 
          {{ word }}
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center" *ngIf="!gameIsSolved"> <!-- LIVES -->
    <span *ngFor="let i of getLives(livesLeft); let index = index" class="lives-indicator">
      ✪
    </span>
  </div>

  <div class="d-flex justify-content-center m-4" *ngIf="!gameIsSolved"> <!-- BUTTONS -->
    <button class="btn-neu yellow-bg m-4" type="submit" (click)="deselect()">Изчисти</button>
    <button class="btn-neu green-bg m-4" type="submit"
      (click)="checkCategories(this.currentSelection, this.words)">Провери</button>
  </div>
</ng-container>

<div *ngIf="livesLeft === 0" class="d-flex justify-content-center text-info">
  За съжаление, днес не успя! Опитай отново утре!
</div>

<div class="wrapper" *ngIf="livesLeft === 0"> <!-- 0 LIVES - GAME LOST -->
  <div *ngFor="let row of guessedWords" class="guessed-grid-container" [ngStyle]="{'background': row.color, 'color': row.color === '#230C0F' ? 'white' : 'black' }">
    <div>
      <div [ngStyle]="{'color': row.color === '#230C0F' ? 'white' : 'black' }">
        <h3>{{ row.categoryName }}</h3>
      </div>
      <div>
        <ng-container *ngFor="let word of row.words; let i = index">
          <span class="category-word" [ngStyle]="{'color': row.color === '#230C0F' ? 'white' : 'black' }">
            {{ word }}<ng-container *ngIf="i < 3">,</ng-container>
          </span>
        </ng-container>
      </div>
    </div>
    <span *ngIf="row.categoryInfo" (click)="showCategoryInfo(row)"><img class="info-results"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png"
      alt="" srcset=""></span>
  </div>

  

</div>

<div class="d-flex justify-content-center" *ngIf="livesLeft === 0 || gameIsSolved"> <!-- RESULTS  -->
  <button class="btn-neu m-4" type="submit" style="background: #EAF2D7; font-weight: bold;"
  (click)="openResults()">Виж резултата</button>
</div>

