.grid-container {
    /* display: grid; */
    grid-template-columns: repeat(4, 100px);
    gap: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-item {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 5px;
    background: #e0e0e0;
    box-shadow:  7px 7px 14px #cccccc,
                 -7px -7px 14px #ffffff;

    margin: 10px
}

.selected-word {
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 14px #363636,
                inset -7px -7px 14px #ffffff;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: xx-large;

    background: #e0e0e0;
    box-shadow:  7px 7px 14px #cccccc,
                 -7px -7px 14px #ffffff;
}

.wrapper {
    height: 100vh;
    align-content: center;
    display: grid;
}