<header class="header">CONNECTIONS.BG</header>

<div class="wrapper">
  <div *ngFor="let row of guessedWords" class="guessed-grid-container">
    <div>
      <div>
        <h3>{{ row.categoryName }}</h3>
      </div>
      <div>
        <ng-container *ngFor="let word of row.words">
          <span class="category-word">
            {{ word }},
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<div class="wrapper">
  <div *ngFor="let row of randomizedWords | slice:0:4; let i = index" class="grid-container">
    <div *ngFor="let word of randomizedWords | slice:i*4:(i+1)*4; let j = index" class="grid-item m-1"
      (click)="selectWord(word)" [ngClass]="currentSelection.includes(word) ? 'selected-word' : '' ">{{ word }}</div>
  </div>
</div>

<div class="d-flex justify-content-center m-4">
  <button class="btn-neu yellow-bg m-4" type="submit" (click)="deselect()">Изчисти</button>
  <button class="btn-neu green-bg m-4" type="submit"
    (click)="checkCategories(this.currentSelection, this.words)">Провери</button>
</div>