@use '@angular/material' as mat;

// $my-primary: mat.define-palette(mat.$indigo-palette, 500);
// $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

body,
html {
    background: #e0e0e0;
}

.w-100 {
    width: 100%;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}


$spacing: 1rem;


.m-4 {
    margin: $spacing
}

.m-1 {
    margin: $spacing * 0.25;
}

.mb-4 {
    margin-bottom: $spacing * 1;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    padding: 100px
}

.btn-neu {
    box-shadow: 2px 2px 6px #868686,
        -2px -2px 6px #ffffff;
    padding: 15px;
    border: none;

    cursor: pointer;

    border-radius: 7px;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 14px;
    min-width: auto;
    margin: 15px;
}