/* You can add global styles to this file, and also import other style files */
body, html {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    background: #e9e7e7;
}