<div class="wrapper">

    <h2>свободна дата: {{nextFreeDate}}</h2>

    <input type="text" (keydown.enter)="login()" [(ngModel)]="username" />
    <button (click)="login()">Login</button>

</div>
<ng-container *ngIf="loggedIn">


    <div class="wrapper" [style.background]="firstCategory.get('color')?.value"> <!--FIRST CATEGORY -->
        Въведи долу
        <form [formGroup]="firstCategory">
            <div>

                <mat-form-field appearance="fill">
                    <mat-label>Number</mat-label>
                    <input formControlName="number" matInput type="text" placeholder="Number">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Категория, която ще се покаже</mat-label>
                    <input formControlName="displayCategory" matInput type="text"
                        placeholder="Категория, която ще се покаже">
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Дума 1</mat-label>
                <input formControlName="word1" matInput type="text" placeholder="Дума 1">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 2</mat-label>
                <input formControlName="word2" matInput type="text" placeholder="Дума 2">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 3</mat-label>
                <input formControlName="word3" matInput type="text" placeholder="Дума 3">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 4</mat-label>
                <input formControlName="word4" matInput type="text" placeholder="Дума 4">
            </mat-form-field>

            <div style="width: 50%;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Пояснения</mat-label>
                    <input formControlName="categoryInfo" matInput type="text" placeholder="Пояснения">
                </mat-form-field>
            </div>
        </form>

    </div>

    <div class="wrapper" [style.background]="secondCategory.get('color')?.value"> <!--second CATEGORY -->
        Въведи долу
        <form [formGroup]="secondCategory">
            <div>

                <mat-form-field appearance="fill">
                    <mat-label>Number</mat-label>
                    <input formControlName="number" matInput type="text" placeholder="Number">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Категория, която ще се покаже</mat-label>
                    <input formControlName="displayCategory" matInput type="text"
                        placeholder="Категория, която ще се покаже">
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Дума 1</mat-label>
                <input formControlName="word1" matInput type="text" placeholder="Дума 1">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 2</mat-label>
                <input formControlName="word2" matInput type="text" placeholder="Дума 2">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 3</mat-label>
                <input formControlName="word3" matInput type="text" placeholder="Дума 3">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 4</mat-label>
                <input formControlName="word4" matInput type="text" placeholder="Дума 4">
            </mat-form-field>
            <div style="width: 50%;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Пояснения</mat-label>
                    <input formControlName="categoryInfo" matInput type="text" placeholder="Пояснения">
                </mat-form-field>
            </div>
        </form>

    
    </div>

    <div class="wrapper" [style.background]="thirdCategory.get('color')?.value"> <!--third CATEGORY -->
        Въведи долу
        <form [formGroup]="thirdCategory">
            <div>

                <mat-form-field appearance="fill">
                    <mat-label>Number</mat-label>
                    <input formControlName="number" matInput type="text" placeholder="Number">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Категория, която ще се покаже</mat-label>
                    <input formControlName="displayCategory" matInput type="text"
                        placeholder="Категория, която ще се покаже">
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Дума 1</mat-label>
                <input formControlName="word1" matInput type="text" placeholder="Дума 1">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 2</mat-label>
                <input formControlName="word2" matInput type="text" placeholder="Дума 2">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 3</mat-label>
                <input formControlName="word3" matInput type="text" placeholder="Дума 3">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 4</mat-label>
                <input formControlName="word4" matInput type="text" placeholder="Дума 4">
            </mat-form-field>
            <div style="width: 50%;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Пояснения</mat-label>
                    <input formControlName="categoryInfo" matInput type="text" placeholder="Пояснения">
                </mat-form-field>
            </div>
        </form>

    
    </div>

    <div class="wrapper" [style.background]="fourthCategory.get('color')?.value"> <!--Fourth CATEGORY -->
        Въведи долу
        <form [formGroup]="fourthCategory">
            <div>

                <mat-form-field appearance="fill">
                    <mat-label>Number</mat-label>
                    <input formControlName="number" matInput type="text" placeholder="Number">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Категория, която ще се покаже</mat-label>
                    <input formControlName="displayCategory" matInput type="text"
                        placeholder="Категория, която ще се покаже">
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Дума 1</mat-label>
                <input formControlName="word1" matInput type="text" placeholder="Дума 1">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 2</mat-label>
                <input formControlName="word2" matInput type="text" placeholder="Дума 2">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 3</mat-label>
                <input formControlName="word3" matInput type="text" placeholder="Дума 3">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Дума 4</mat-label>
                <input formControlName="word4" matInput type="text" placeholder="Дума 4">
            </mat-form-field>
            <div style="width: 50%;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Пояснения</mat-label>
                    <input formControlName="categoryInfo" matInput type="text" placeholder="Пояснения">
                </mat-form-field>
            </div>
        </form>

    
    </div>


    <div class="wrapper">

        <button class="btn-neu" (click)="saveWords()">
            Save
        </button>


        <button class="btn-neu" (click)="resetForms()">
            Reset
        </button>
    </div>

    <mat-accordion *ngIf="allWords && apiResponse" class="wrapper">
        <mat-expansion-panel *ngFor="let date of allWords">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{date}}
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="guessed-grid-container"
                [ngStyle]="{'background': date.color, 'color': date.color === '#230C0F' ? 'white' : 'black' }">
                <!-- {{apiResponse[date] | json}} -->

                <div [ngStyle]="{'background': apiResponse[date][1]?.color, 'color': apiResponse[date][1]?.color === '#230C0F' ? 'white' : 'black' }">
                    {{apiResponse[date][1]?.categoryName | json}}
                    <br>
                    {{apiResponse[date][1]?.words[0] | json}}
                    {{apiResponse[date][1]?.words[1] | json}}
                    {{apiResponse[date][1]?.words[2] | json}}
                    {{apiResponse[date][1]?.words[3] | json}}
                </div>

                <div [ngStyle]="{'background': apiResponse[date][2]?.color, 'color': apiResponse[date][2]?.color === '#230C0F' ? 'white' : 'black' }">
                    {{apiResponse[date][2]?.categoryName | json}}
                    <br>
                    {{apiResponse[date][2]?.words[0] | json}}
                    {{apiResponse[date][2]?.words[1] | json}}
                    {{apiResponse[date][2]?.words[2] | json}}
                    {{apiResponse[date][2]?.words[3] | json}}
                </div>

                <div [ngStyle]="{'background': apiResponse[date][3]?.color, 'color': apiResponse[date][3]?.color === '#230C0F' ? 'white' : 'black' }">
                    {{apiResponse[date][3]?.categoryName | json}}
                    <br>
                    {{apiResponse[date][3]?.words[0] | json}}
                    {{apiResponse[date][3]?.words[1] | json}}
                    {{apiResponse[date][3]?.words[2] | json}}
                    {{apiResponse[date][3]?.words[3] | json}}
                </div>

                <div [ngStyle]="{'background': apiResponse[date][4]?.color, 'color': apiResponse[date][4]?.color === '#240C0F' ? 'white' : 'black' }">
                    {{apiResponse[date][4]?.categoryName | json}}
                    <br>
                    {{apiResponse[date][4]?.words[0] | json}}
                    {{apiResponse[date][4]?.words[1] | json}}
                    {{apiResponse[date][4]?.words[2] | json}}
                    {{apiResponse[date][4]?.words[3] | json}}
                </div>

            </div>
        </mat-expansion-panel>
    </mat-accordion>

</ng-container>